# Build outputs
**/Debug/
**/Release/
**/*.o
**/*.d
**/*.elf
**/*.bin
**/*.hex
**/*.map
**/*.list

# CubeIDE workspace (NEcommitovať)
.metadata/

# Launch configs (optional)
**/*.launch

# OS
.DS_Store
Thumbs.db